#chat_gadget_html {
	background: transparent;
	position: relative;
	z-index: 100000;
}
#chat_gadget_html td {
	padding: 0 3px;
}
#chat_gadget_body {
	position: relative;
	max-height: 25%;
	padding: .5em;
	border: 1px solid rgba(255,255,255,.5);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	background: #EDE9DC;
	background: rgba(193, 192, 166, 0.9);
	-webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 0px 4px;
}
#entry {
  width: 80%;
  font-size: inherit;
  padding: .5em;
  margin: .5em;
  margin: 0;
	background: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.1);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
  outline-width: 0;
  clear: both;
}
#log {
	max-height: 250px;
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
/*  background: inherit;*/
  overflow: auto;
}
#toggle_sound {
	position: absolute;
	bottom: 5px;
	right: 5px;
}